include README.md

recursive-include svo_filters *.pyx *.c *.pxd
recursive-include docs *
recursive-include svo_filters/data *
recursive-include svo_filters/data/filters *
recursive-include svo_filters/data/plots *
recursive-include svo_filters/data/spectra *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o